<div class='container shadow-sm text-main bg-sub-color-gray w-sm-75 p-sm-5 my-sm-5'>
  <div class='mb-5'> 
    <h3 class='col-auto'><span class='display-5'>| </span>あなたの投稿一覧</h3>
  </div> 
  <%= render partial: 'shared/search_form_of_posts', locals: { q: @q, baseball_teams: @baseball_teams, baseball_parks: @baseball_parks, categories: @categories } %>
  <%= render partial: 'shared/posts_index', locals: { my_posts: true, posts: @posts } %>
</div>
