$primary-color-green: #3C899A;
$second-color-green: #B9CCD0;

$primary-color-red: #9A3C64;
$second-color-red: #DCC7D0;
$third-color-red: #FFF8F8;

$primary-color-bule: #3C469A;
$second-color-blue: #B2B5D1;
$third-color-blue: #F5F6FF;

$primary-color-gray: #717171;
$second-color-gray: #D7D7D7;
$third-color-gray: #FDFDFD;

// ヘッダー
.header-left-btn {
  @extend .btn !optional;
  color: $primary-color-green;
  font-weight: 800;
  border-radius: 0px;
  border: none;
  border-bottom: $third-color-gray solid 2px;
  &:hover,
  &:active {
    border-bottom: $primary-color-green solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    color: $primary-color-green !important;
  }
}

// フッター
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  padding-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

// ボタン
.btn-primary-red {
  @extend .btn !optional;
  background-color: $primary-color-red;
  border: $primary-color-red;
  color: $third-color-gray;
  &:hover {
    background-color: $second-color-red;
    color: $primary-color-red;
  }
}

.btn-primary-gray {
  @extend .btn !optional;
  background-color: $primary-color-gray;
  border: $primary-color-gray;
  color: $third-color-gray;
  &:hover {
    background-color: $second-color-gray;
    color: $primary-color-gray;
  }
}

.btn-primary-blue {
  @extend .btn !optional;
  background-color: $primary-color-bule;
  border: $primary-color-bule;
  color: $third-color-gray;
  &:hover {
    background-color: $second-color-blue;
    color: $primary-color-bule;
  }
}

.btn-primary-green {
  @extend .btn !optional;
  background-color: $primary-color-green;
  border: $primary-color-green;
  color: $third-color-gray;
  &:hover,
  &:active {
    background-color: $second-color-green !important;
    color: $primary-color-green !important;
  }
}

.btn-primary-green-sizeup {
  @extend .btn !optional;
  background-color: $primary-color-green;
  border: $primary-color-green;
  color: $third-color-gray;
  &:hover,
  &:active {
    background-color: $primary-color-green;
    border: $primary-color-green;
    color: $third-color-gray;
    transform: scale(1.1, 1.1);
  }
}

.btn-second-green {
  @extend .btn !optional;
  background-color: $third-color-gray;
  border: $primary-color-green solid 2px;
  color: $primary-color-green;
  &:hover,
  &:active {
    background-color: $third-color-gray;
    border: $primary-color-green solid 2px;
    color: $primary-color-green;
    transform: scale(1.1, 1.1);
  }
}

// テキスト
.text-main {
  color: $primary-color-green;
  // スマートフォン用のテキストサイズ
  @media (max-width: 576px) {
    font-size: 14px;
  }
}

.text-user-name {
  font-size: 25px;
  // スマートフォン用のテキストサイズ
  @media (max-width: 576px) {
    font-size: 18px;
  }
}

.text-main-red {
  color: $primary-color-red;
  // スマートフォン用のテキストサイズ
  @media (max-width: 576px) {
    font-size: 14px;
  }

}

.top-page-title {
  font-family: 'Rowdies', cursive;
  color: $primary-color-red;
  font-size: 100px;
  // スマートフォン用のテキストサイズ
  @media (max-width: 576px) {
    font-size: 30px;
  }
}

.top-page-sub-text {
  font-family: 'Rowdies', cursive;
  font-size: 30px;
  font-weight: bold;
  // スマートフォン用のテキストサイズ
  @media (max-width: 576px) {
    font-size: 14px;
  }
}

// リンク
.link-text {
  text-decoration: none;
}

// 背景
.bg-sub-color-gray {
  background-color: $third-color-gray;
}

.bg-color-clear {
  background-color: rgba(253,253,253,0.6);
}

.bg-image {
  background-image: image-url('baseball-park.jpg');
  background-size: cover;
}

// kaminariのカスタマイズ
.page-item {
  margin-right: 10px;
  .page-link {
    background-color: $second-color-green;
    color: $third-color-gray;
    @media (max-width: 576px) {
      font-size: 10px;
    }
    &:hover, &:focus {
      color: #3C899A ;
      box-shadow: 0 0 0 0.25rem #89aeb8;
    }
  }
}

.page-item.active .page-link {
  color: $third-color-gray !important;
  background-color: $primary-color-green !important;
  border-color: $primary-color-green !important;
}

// 画像表示
.responsive-image {
  max-width: 100%; /* イメージが親要素の幅に合わせて縮小されるようにします */
  height: auto; /* イメージのアスペクト比を維持します */
}

// 観戦記録
.game-win {
  background-color: $primary-color-red;
  border: $primary-color-red;
  color: $third-color-gray;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px;
}

.game-lose {
  background-color: $primary-color-bule;
  border: $primary-color-bule;
  color: $third-color-gray;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px;
}

.game-draw {
  background-color: $primary-color-gray;
  border: $primary-color-gray;
  color: $third-color-gray;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px;
}

.game-green {
  background-color: $primary-color-green;
  border: $primary-color-green;
  color: $third-color-gray;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px;
}

.win-line {
  background-color: $third-color-gray;
  border: $primary-color-red solid 2px;
  color: $primary-color-red;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px;
}

.lose-line {
  background-color: $third-color-gray;
  border: $primary-color-bule solid 2px;
  color: $primary-color-bule;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px;
}

.draw-line {
  background-color: $third-color-gray;
  border: $primary-color-gray solid 2px;
  color: $primary-color-gray;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px;
}

.green-line {
  background-color: $third-color-gray;
  border: $primary-color-green solid 2px;
  color: $primary-color-green;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px;
}

.win_percentage {
  background-color: $third-color-red;
  color: $primary-color-red;
  font-size: 60px;
  border-radius: 10px;
  margin: 10px;
  @media (max-width: 576px) {
    font-size: 30px;
  }
  .number-size {
    font-size: 100px;
    @media (max-width: 576px) {
      font-size: 50px;
    }
  }
}

.win-sequence {
  @extend .win_percentage !optional;
}

.lose-sequence {
  background-color: $third-color-blue;
  color: $primary-color-bule;
  font-size: 60px;
  border-radius: 10px;
  margin: 10px;
  @media (max-width: 576px) {
    font-size: 30px;
  }
  .number-size {
    font-size: 100px;
    @media (max-width: 576px) {
      font-size: 50px;
    }
  }
}

.draw-sequence {
  background-color: $third-color-gray;
  color: $primary-color-gray;
  font-size: 60px;
  border-radius: 10px;
  margin: 10px;
  @media (max-width: 576px) {
    font-size: 30px;
  }
  .number-size {
    font-size: 100px;
    @media (max-width: 576px) {
      font-size: 50px;
    }
  }
}

.btn-win {
  @extend .btn-primary-red !optional;
  width: 50px;
}

.btn-lose {
  @extend .btn-primary-blue !optional;
  width: 50px;
}

.btn-draw {
  @extend .btn-primary-gray !optional;
  width: 50px;
}

.btn-green {
  @extend .btn-primary-green !optional;
  width: 50px;
}

.win-team {
  background-color: $third-color-red;
  color: $primary-color-red;
  font-size: 23px;
  border-radius: 10px;
  margin: 10px;
  @media (max-width: 576px) {
    font-size: 15px;
  }
  .number-size {
    font-size: 100px;
    @media (max-width: 576px) {
      font-size: 15px;
    }
  }
}

.lose-team {
  background-color: $third-color-blue;
  color: $primary-color-bule;
  font-size: 23px;
  border-radius: 10px;
  margin: 10px;
  @media (max-width: 576px) {
    font-size: 15px;
  }
  .number-size {
    font-size: 100px;
    @media (max-width: 576px) {
      font-size: 15px;
    }
  }
}

.draw-team {
  background-color: $third-color-gray;
  color: $primary-color-gray;
  font-size: 23px;
  border-radius: 10px;
  margin: 10px;
  @media (max-width: 576px) {
    font-size: 15px;
  }
  .number-size {
    font-size: 100px;
    @media (max-width: 576px) {
      font-size: 15px;
    }
  }
}
