$primary-color-green: #3C899A;
$second-color-green: #B9CCD0;

$primary-color-red: #9A3C64;
$second-color-red: #DCC7D0;

$primary-color-bule: #3C469A;
$second-color-blue: #B2B5D1;

$primary-color-gray: #717171;
$second-color-gray: #D7D7D7;
$third-color-gray: #FDFDFD;

// ヘッダー
.header-left-btn {
  @extend .btn !optional;
  color: $primary-color-green;
  font-weight: 800;
  border-radius: 0px;
  border: none;
  &:hover,
  &:active {
    border-bottom: $primary-color-green solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    color: $primary-color-green !important;
  }
}

// フッター
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

// ボタン
.btn-primary-red {
  background-color: $primary-color-red;
  border: $primary-color-red;
  color: $third-color-gray;
  &:hover {
    background-color: $second-color-red;
    color: $primary-color-red;
  }
}

.btn-primary-gray {
  background-color: $primary-color-gray;
  border: $primary-color-gray;
  color: $third-color-gray;
  &:hover {
    background-color: $second-color-gray;
    color: $primary-color-gray;
  }
}

.btn-primary-green {
  @extend .btn !optional;
  background-color: $primary-color-green;
  border: $primary-color-green;
  color: $third-color-gray;
  &:hover,
  &:active {
    background-color: $second-color-green !important;
    color: $primary-color-green !important;
  }
}

// テキスト
.text-main {
  color: $primary-color-green;
}

// リンク
.link-text {
  text-decoration: none;
}

// 背景
.bg-sub-color-gray {
  background-color: $third-color-gray;
}
